input[type=text],[type=password]{
    padding:0.5rem 0.5rem;
    background-color: #080d32;
    border: 2.5px solid #0e103d;
    border-radius: 16px;
    outline: none;
    
    max-width: 100%;
    height: 32px;
    color:white;
    font-size:16px;
    margin:8px;
    margin-left: 0px;
    font-weight: 500;

}
input[type=text]::placeholder,[type=password]::placeholder{
    color:#dae0fc;
}
label{
    color:white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    padding-left: 8px;
}
@media only screen and (max-width: 1024px) {
    input[type=text],[type=password]{
      padding:0.4rem;
      height:24px;
      font-size: 12px;
      
    }
  }